{% extends "base.twig" %}

{% block content %}

	<h3 class="page-title">
		{{ posts|length }} Organizations
		<small>
			(<a href="/wp/wp-admin/post-new.php?post_type=organization">+ Add Organization</a>)
		</small>
	</h3><!-- /.page-title -->

	{% if posts %}

		<table class="table table-striped">

			<thead>

				<tr>
					<th>Name</th>
					<th>Industry</th>
					<th>Location</th>
					<th>Type</th>
					<th>Modified</th>
				</tr>

			</thead>

			<tbody>

				{% for post in posts %}

					<tr>
						<td>
							<strong>
								<a href="{{ post.link }}">{{ post.title }}</a>
							</strong>
						</td>
						<td>
							{% for term in post.terms('industry') %}
								<a href="{{ term.link }}">{{ term }}</a> 
							{% endfor %}
						</td>
						<td>{{ post.city_state_string }}</td>
						<td>{{ post.type }}</td>
						<td>{{ post.post_modified }}</td>
					</tr>

				{% endfor %}

			</tbody>

		</table><!-- /.table-striped -->

	{% else %}

		<div class="alert alert-danger">No contacts to display</div><!-- /.alert alert-danger -->

	{% endif %}

{% endblock %}