{% extends "base.twig" %}

{% block content %}

	{% if recent %}

		<h2>Recent Updates</h2>

		<table class="table-condensed">

			{% for recent_item in recent %}

				<tr>
					<td>
						<span class="label label-{{ recent_item.get_last_action.bs_action_class }}">
							{{ recent_item.get_last_action.text }}
						</span>
					</td>
					<td>
						{% if recent_item.get_last_action.text == 'Deleted' %}
							The {{ recent_item.post_type }} <strong>{{ recent_item.title }}</strong> was {{ recent_item.get_last_action.text }} by {{ recent_item.modified_author }} on {{ recent_item.modified_date }}
						{% else %}
							The {{ recent_item.post_type }} <strong><a href="{{ recent_item.link }}">{{ recent_item.title }}</a></strong> was {{ recent_item.get_last_action.text }} by {{ recent_item.modified_author }} on {{ recent_item.modified_date }}
						{% endif %}
					</td>
				</tr>

			{% endfor %}

		</table><!-- /.table-condensed -->

	{% endif %}

{% endblock %}